html 
  head 
    title Title
    link(href="./css/style.css", rel="stylesheet")
  body 
    h1 Click on the cat
    article 
      header 
        h2= name
      figure 
        img(src="./img/cat.jpg", class="big small trans")
      p Age: #{age} 
      p Weight: #{weight}kg
    script(src="./js/main.js")